# Introdução 
### por Iury Rosal

In [1]:
!pip install polars

Requirement already satisfied: polars in d:\apps\anaconda\lib\site-packages (0.16.14)
Requirement already satisfied: typing_extensions>=4.0.1 in d:\apps\anaconda\lib\site-packages (from polars) (4.3.0)

In [2]:
import polars as pl

# Estruturas de Dados

## Series

In [3]:
s = pl.Series("a", [1, 2, 3])
s

shape: (3,)
Series: 'a' [i64]
[
	1
	2
	3
]

In [4]:
s.dtype

Int64

In [5]:
s.shape

(3,)

In [6]:
s2 = pl.Series("a", [1, 2, 3], dtype=pl.Float32)
s2

shape: (3,)
Series: 'a' [f32]
[
	1.0
	2.0
	3.0
]

In [7]:
import numpy as np
array_np = np.array([1, 2, 3, 4, 5])
pl.Series("array_np", array_np)

shape: (5,)
Series: 'array_np' [i32]
[
	1
	2
	3
	4
	5
]

## Dataframe

In [8]:
data = {"a": [1, 2], "b": [3, 4]}
df = pl.DataFrame(data)
df

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 4   │
└─────┴─────┘

In [9]:
df2 = pl.DataFrame(data, schema={"a": pl.Float32, "b": pl.Int64})
df2

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ f32 ┆ i64 │
╞═════╪═════╡
│ 1.0 ┆ 3   │
│ 2.0 ┆ 4   │
└─────┴─────┘

In [10]:
df3 = pl.DataFrame(data, schema=[("col1", pl.Float32), ("col2", pl.Int64)])
df3

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 1.0  ┆ 3    │
│ 2.0  ┆ 4    │
└──────┴──────┘

In [11]:
data = [
    pl.Series("col1", [1, 2], dtype=pl.Float32),
    pl.Series("col2", [3, 4], dtype=pl.Int64),
]
df4 = pl.DataFrame(data)
df4

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 1.0  ┆ 3    │
│ 2.0  ┆ 4    │
└──────┴──────┘

In [12]:
data = np.array([(1, 2), (3, 4)], dtype=np.int64)
df5 = pl.DataFrame(data, schema=["a", "b"], orient="col")
df5

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 4   │
└─────┴─────┘

In [13]:
data = [[1, 2, 3], [4, 5, 6]]
df6 = pl.DataFrame(data, schema=["a", "b", "c"])
df6

shape: (2, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 1   ┆ 2   ┆ 3   │
│ 4   ┆ 5   ┆ 6   │
└─────┴─────┴─────┘

In [14]:
df6.dtypes

[Int64, Int64, Int64]

In [15]:
df6.shape

(2, 3)

In [16]:
print(df6)

shape: (2, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 1   ┆ 2   ┆ 3   │
│ 4   ┆ 5   ┆ 6   │
└─────┴─────┴─────┘

In [17]:
df6.schema

{'a': Int64, 'b': Int64, 'c': Int64}

# Lendo de um arquivo CSV

In [18]:
dataframe = pl.read_csv("top-300-youtube-channels.csv")
dataframe

shape: (296, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ …   ┆ …    ┆ …                  ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 296 ┆ 297  ┆ DisneyJuniorUK     ┆ 11300000         ┆ 11586962179  ┆ 2789        ┆ Entertainment    ┆ 2010            │
│ 297 ┆ 298  ┆ JTBC Entertainment ┆ 7580000          ┆ 11512332695  ┆ 76838       ┆ Entertainment    ┆ 2012            │
│ 298 ┆ 299  ┆ Mnet TV            ┆ 9040000          ┆ 11442069884  ┆ 21617       ┆ Entertainment    ┆ 2013            │
│ 299 ┆ 300  ┆ GMA News           ┆ 12900000         ┆ 11387663843  ┆ 345736      ┆ News & Politics  ┆ 2007            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

# Informações Iniciais do Dataframe

In [19]:
dataframe.head(5)

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show  ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

In [20]:
dataframe.limit(5)

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show  ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

In [21]:
dataframe.tail(5)

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬─────────────┬─────────────┬─────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre           ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---         ┆ ---         ┆ ---             ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64         ┆ i64         ┆ str             ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪═════════════╪═════════════╪═════════════════╪═════════════════╡
│ 295 ┆ 296  ┆ Jake Fellman       ┆ 15000000         ┆ 11618626248 ┆ 440         ┆ Entertainment   ┆ 2012            │
│ 296 ┆ 297  ┆ DisneyJuniorUK     ┆ 11300000         ┆ 11586962179 ┆ 2789        ┆ Entertainment   ┆ 2010            │
│ 297 ┆ 298  ┆ JTBC Entertainment ┆ 7580000          ┆ 11512332695 ┆ 76838       ┆ Entertainment   ┆ 2012            │
│ 298 ┆ 299  ┆ Mnet TV            ┆ 9040000          ┆ 11442069884 ┆ 21617       ┆ Entertainment   ┆ 2013            │
│ 299 ┆ 300  ┆ GMA News           ┆ 12900000         ┆ 11387663843 ┆ 345736      ┆ News & Politics ┆ 2007            │
└─────┴──────┴────────────────────┴──────────────────┴─────────────┴─────────────┴─────────────────┴─────────────────┘

In [22]:
dataframe.describe()

shape: (7, 9)
┌────────────┬────────────┬────────────┬──────────────────┬───┬─────────────┬──────────────┬────────┬─────────────────┐
│ describe   ┆ column_0   ┆ Rank       ┆ Channel_Name     ┆ … ┆ Video_Views ┆ Video_Count  ┆ Genre  ┆ Channel_Started │
│ ---        ┆ ---        ┆ ---        ┆ ---              ┆   ┆ ---         ┆ ---          ┆ ---    ┆ ---             │
│ str        ┆ f64        ┆ f64        ┆ str              ┆   ┆ f64         ┆ f64          ┆ str    ┆ f64             │
╞════════════╪════════════╪════════════╪══════════════════╪═══╪═════════════╪══════════════╪════════╪═════════════════╡
│ count      ┆ 296.0      ┆ 296.0      ┆ 296              ┆ … ┆ 296.0       ┆ 296.0        ┆ 296    ┆ 296.0           │
│ null_count ┆ 0.0        ┆ 0.0        ┆ 0                ┆ … ┆ 0.0         ┆ 0.0          ┆ 0      ┆ 0.0             │
│ mean       ┆ 149.760135 ┆ 150.760135 ┆ null             ┆ … ┆ 2.1996e10   ┆ 19174.331081 ┆ null   ┆ 2011.368243     │
│ std        ┆ 86.813964  ┆ 86.813964  ┆ null             ┆ … ┆ 1.9425e10   ┆ 46072.700205 ┆ null   ┆ 3.997822        │
│ min        ┆ 0.0        ┆ 1.0        ┆ 1theK (원더케이) ┆ … ┆ 1.1388e10   ┆ 15.0         ┆ Comedy ┆ 2005.0          │
│ max        ┆ 299.0      ┆ 300.0      ┆ 東海オンエア     ┆ … ┆ 2.1650e11   ┆ 345736.0     ┆ Sports ┆ 2021.0          │
│ median     ┆ 150.5      ┆ 151.5      ┆ null             ┆ … ┆ 1.6337e10   ┆ 1984.5       ┆ null   ┆ 2011.0          │
└────────────┴────────────┴────────────┴──────────────────┴───┴─────────────┴──────────────┴────────┴─────────────────┘

# Select

## Selecionando por valor na linha
No pandas, fazemos:

    dataframe[dataframe.Genre == "Education"].head()

In [23]:
dataframe.filter(
    pl.col('Genre') == "Education"
).head()

shape: (5, 8)
┌─────┬──────┬───────────────────────────┬──────────────────┬──────────────┬─────────────┬───────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name              ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre     ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                       ┆ ---              ┆ ---          ┆ ---         ┆ ---       ┆ ---             │
│ i64 ┆ i64  ┆ str                       ┆ i64              ┆ i64          ┆ i64         ┆ str       ┆ i64             │
╞═════╪══════╪═══════════════════════════╪══════════════════╪══════════════╪═════════════╪═══════════╪═════════════════╡
│ 1   ┆ 2    ┆ Cocomelon - Nursery       ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education ┆ 2006            │
│     ┆      ┆ Rhymes                    ┆                  ┆              ┆             ┆           ┆                 │
│ 16  ┆ 17   ┆ ChuChu TV Nursery Rhymes  ┆ 61900000         ┆ 42589514748  ┆ 546         ┆ Education ┆ 2013            │
│     ┆      ┆ & Kids …                  ┆                  ┆              ┆             ┆           ┆                 │
│ 18  ┆ 19   ┆ Super Simple Songs - Kids ┆ 37800000         ┆ 41715976696  ┆ 667         ┆ Education ┆ 2006            │
│     ┆      ┆ Songs                     ┆                  ┆              ┆             ┆           ┆                 │
│ 20  ┆ 21   ┆ Little Baby Bum - Nursery ┆ 40800000         ┆ 38840192263  ┆ 2287        ┆ Education ┆ 2011            │
│     ┆      ┆ Rhymes…                   ┆                  ┆              ┆             ┆           ┆                 │
│ 22  ┆ 23   ┆ Pinkfong Baby Shark -     ┆ 65700000         ┆ 36688824621  ┆ 2647        ┆ Education ┆ 2011            │
│     ┆      ┆ Kids' Song…               ┆                  ┆              ┆             ┆           ┆                 │
└─────┴──────┴───────────────────────────┴──────────────────┴──────────────┴─────────────┴───────────┴─────────────────┘

## Selecionando colunas em específico

In [24]:
dataframe['Channel_Started'] # igual ao pandas

shape: (296,)
Series: 'Channel_Started' [i64]
[
	2006
	2006
	2006
	2007
	2015
	2016
	2007
	2018
	2006
	2008
	2014
	2011
	…
	2018
	2012
	2010
	2009
	2011
	2005
	2012
	2014
	2012
	2010
	2012
	2013
	2007
]

In [25]:
dataframe.Channel_Started # diferente do pandas

AttributeError: 'DataFrame' object has no attribute 'Channel_Started'

No pandas, fazemos:

    dataframe[dataframe.Genre == "Education"]['Channel_Started'].head()

In [26]:
dataframe.filter(
    pl.col('Genre') == "Education"
).select('Channel_Started').head()

shape: (5, 1)
┌─────────────────┐
│ Channel_Started │
│ ---             │
│ i64             │
╞═════════════════╡
│ 2006            │
│ 2013            │
│ 2006            │
│ 2011            │
│ 2011            │
└─────────────────┘

No pandas, fazemos:

    dataframe[['Channel_Started', 'Subscriber_Count', 'Genre']].head()

In [28]:
(dataframe
    .select(pl.col(['Channel_Name', 'Subscriber_Count', 'Genre']))
    .head(5))

shape: (5, 3)
┌────────────────────────────┬──────────────────┬──────────────────┐
│ Channel_Name               ┆ Subscriber_Count ┆ Genre            │
│ ---                        ┆ ---              ┆ ---              │
│ str                        ┆ i64              ┆ str              │
╞════════════════════════════╪══════════════════╪══════════════════╡
│ T-Series                   ┆ 237000000        ┆ Music            │
│ Cocomelon - Nursery Rhymes ┆ 154000000        ┆ Education        │
│ SET India                  ┆ 152000000        ┆ Film & Animation │
│ Sony SAB                   ┆ 77500000         ┆ Film & Animation │
│ ✿ Kids Diana Show          ┆ 108000000        ┆ People & Blogs   │
└────────────────────────────┴──────────────────┴──────────────────┘

In [27]:
dataframe[['Channel_Started', 'Subscriber_Count', 'Genre']] # igual ao pandas

shape: (296, 3)
┌─────────────────┬──────────────────┬──────────────────┐
│ Channel_Started ┆ Subscriber_Count ┆ Genre            │
│ ---             ┆ ---              ┆ ---              │
│ i64             ┆ i64              ┆ str              │
╞═════════════════╪══════════════════╪══════════════════╡
│ 2006            ┆ 237000000        ┆ Music            │
│ 2006            ┆ 154000000        ┆ Education        │
│ 2006            ┆ 152000000        ┆ Film & Animation │
│ 2007            ┆ 77500000         ┆ Film & Animation │
│ …               ┆ …                ┆ …                │
│ 2010            ┆ 11300000         ┆ Entertainment    │
│ 2012            ┆ 7580000          ┆ Entertainment    │
│ 2013            ┆ 9040000          ┆ Entertainment    │
│ 2007            ┆ 12900000         ┆ News & Politics  │
└─────────────────┴──────────────────┴──────────────────┘

## Selecionando pelo Index

In [29]:
dataframe[:, 0]

shape: (296,)
Series: '' [i64]
[
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
	10
	11
	…
	287
	288
	289
	290
	291
	292
	293
	294
	295
	296
	297
	298
	299
]

In [30]:
dataframe[:, 0:3]

shape: (296, 3)
┌─────┬──────┬────────────────────────────┐
│     ┆ Rank ┆ Channel_Name               │
│ --- ┆ ---  ┆ ---                        │
│ i64 ┆ i64  ┆ str                        │
╞═════╪══════╪════════════════════════════╡
│ 0   ┆ 1    ┆ T-Series                   │
│ 1   ┆ 2    ┆ Cocomelon - Nursery Rhymes │
│ 2   ┆ 3    ┆ SET India                  │
│ 3   ┆ 4    ┆ Sony SAB                   │
│ …   ┆ …    ┆ …                          │
│ 296 ┆ 297  ┆ DisneyJuniorUK             │
│ 297 ┆ 298  ┆ JTBC Entertainment         │
│ 298 ┆ 299  ┆ Mnet TV                    │
│ 299 ┆ 300  ┆ GMA News                   │
└─────┴──────┴────────────────────────────┘

## Aprofundado filtros

No pandas, fazemos:

    dataframe[dataframe.Subscriber_Count > 10000].head()

In [31]:
(dataframe
    .filter(pl.col('Subscriber_Count') > 10000)
    .head(3)
)

shape: (3, 8)
┌─────┬──────┬────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name   ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---            ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str            ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series       ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -    ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India      ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
└─────┴──────┴────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

No pandas, fazemos:

    dataframe[dataframe.Subscriber_Count.between(1000000, 20000000)].head()

In [32]:
(dataframe
    .filter(pl.col('Subscriber_Count').is_between(1000000, 20000000))\
    .head(3)
)

shape: (3, 8)
┌─────┬──────┬──────────────────┬──────────────────┬─────────────┬─────────────┬───────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name     ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre         ┆ Channel_Started │
│ --- ┆ ---  ┆ ---              ┆ ---              ┆ ---         ┆ ---         ┆ ---           ┆ ---             │
│ i64 ┆ i64  ┆ str              ┆ i64              ┆ i64         ┆ i64         ┆ str           ┆ i64             │
╞═════╪══════╪══════════════════╪══════════════════╪═════════════╪═════════════╪═══════════════╪═════════════════╡
│ 51  ┆ 52   ┆ Tsuriki Show     ┆ 18300000         ┆ 26198962430 ┆ 2299        ┆ Entertainment ┆ 2019            │
│ 61  ┆ 62   ┆ Vijay Television ┆ 19000000         ┆ 24990083268 ┆ 40319       ┆ Entertainment ┆ 2007            │
│ 67  ┆ 68   ┆ shakiraVEVO      ┆ 18400000         ┆ 24083534504 ┆ 194         ┆ Music         ┆ 2009            │
└─────┴──────┴──────────────────┴──────────────────┴─────────────┴─────────────┴───────────────┴─────────────────┘

No pandas, fazemos:

    dataframe[(dataframe.Subscriber_Count < 10000) & (dataframe.Genre == "Music")].head()

In [33]:
(dataframe
    .filter((pl.col('Video_Count') < 10000) & (pl.col('Genre') == "Music"))\
    .head(3)
)

shape: (3, 8)
┌─────┬──────┬───────────────────┬──────────────────┬─────────────┬─────────────┬───────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name      ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre ┆ Channel_Started │
│ --- ┆ ---  ┆ ---               ┆ ---              ┆ ---         ┆ ---         ┆ ---   ┆ ---             │
│ i64 ┆ i64  ┆ str               ┆ i64              ┆ i64         ┆ i64         ┆ str   ┆ i64             │
╞═════╪══════╪═══════════════════╪══════════════════╪═════════════╪═════════════╪═══════╪═════════════════╡
│ 10  ┆ 11   ┆ Zee Music Company ┆ 92800000         ┆ 54295114324 ┆ 7768        ┆ Music ┆ 2014            │
│ 11  ┆ 12   ┆ El Reino Infantil ┆ 55600000         ┆ 54151900416 ┆ 1434        ┆ Music ┆ 2011            │
│ 21  ┆ 22   ┆ Canal KondZilla   ┆ 66400000         ┆ 37297721449 ┆ 2393        ┆ Music ┆ 2012            │
└─────┴──────┴───────────────────┴──────────────────┴─────────────┴─────────────┴───────┴─────────────────┘

No pandas, fazemos:

    dataframe[dataframe.Genre.is_in(["Music", "Entertainment"])].head()

In [34]:
(dataframe
    .filter(pl.col('Genre').is_in(["Music", "Entertainment"]))
    .head(3)
)

shape: (3, 8)
┌─────┬──────┬───────────────────┬──────────────────┬──────────────┬─────────────┬───────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name      ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre         ┆ Channel_Started │
│ --- ┆ ---  ┆ ---               ┆ ---              ┆ ---          ┆ ---         ┆ ---           ┆ ---             │
│ i64 ┆ i64  ┆ str               ┆ i64              ┆ i64          ┆ i64         ┆ str           ┆ i64             │
╞═════╪══════╪═══════════════════╪══════════════════╪══════════════╪═════════════╪═══════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series          ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music         ┆ 2006            │
│ 7   ┆ 8    ┆ Vlad and Niki     ┆ 93900000         ┆ 73333582362  ┆ 530         ┆ Entertainment ┆ 2018            │
│ 10  ┆ 11   ┆ Zee Music Company ┆ 92800000         ┆ 54295114324  ┆ 7768        ┆ Music         ┆ 2014            │
└─────┴──────┴───────────────────┴──────────────────┴──────────────┴─────────────┴───────────────┴─────────────────┘

No pandas, fazemos:

    dataframe[dataframe.Channel_Name.str.contains("Music")].head()

In [35]:
(dataframe
    .filter(pl.col('Channel_Name').str.contains("Music"))
    .head(3)
)

shape: (3, 8)
┌─────┬──────┬───────────────────┬──────────────────┬─────────────┬─────────────┬───────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name      ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre ┆ Channel_Started │
│ --- ┆ ---  ┆ ---               ┆ ---              ┆ ---         ┆ ---         ┆ ---   ┆ ---             │
│ i64 ┆ i64  ┆ str               ┆ i64              ┆ i64         ┆ i64         ┆ str   ┆ i64             │
╞═════╪══════╪═══════════════════╪══════════════════╪═════════════╪═════════════╪═══════╪═════════════════╡
│ 10  ┆ 11   ┆ Zee Music Company ┆ 92800000         ┆ 54295114324 ┆ 7768        ┆ Music ┆ 2014            │
│ 19  ┆ 20   ┆ Wave Music        ┆ 56300000         ┆ 39258909308 ┆ 19031       ┆ Music ┆ 2014            │
│ 42  ┆ 43   ┆ Sony Music India  ┆ 55900000         ┆ 27598909527 ┆ 3457        ┆ Music ┆ 2009            │
└─────┴──────┴───────────────────┴──────────────────┴─────────────┴─────────────┴───────┴─────────────────┘

No pandas, fazemos:

    dataframe[dataframe.Channel_Name.str.starts_with("Sony")].head()

In [36]:
(dataframe
    .filter(pl.col('Channel_Name').str.starts_with("Sony"))
)

shape: (6, 8)
┌─────┬──────┬────────────────────┬──────────────────┬─────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---         ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64         ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪═════════════╪═════════════╪══════════════════╪═════════════════╡
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861 ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 42  ┆ 43   ┆ Sony Music India   ┆ 55900000         ┆ 27598909527 ┆ 3457        ┆ Music            ┆ 2009            │
│ 49  ┆ 50   ┆ Sony PAL           ┆ 35900000         ┆ 26412224144 ┆ 22211       ┆ Film & Animation ┆ 2014            │
│ 52  ┆ 53   ┆ SonyMusicIndiaVEVO ┆ 45200000         ┆ 26094337405 ┆ 3369        ┆ Music            ┆ 2009            │
│ 145 ┆ 146  ┆ SonyMusicSouthVEVO ┆ 17400000         ┆ 16774817862 ┆ 5462        ┆ Music            ┆ 2014            │
│ 260 ┆ 261  ┆ Sony AATH          ┆ 18400000         ┆ 12758281340 ┆ 16954       ┆ Film & Animation ┆ 2013            │
└─────┴──────┴────────────────────┴──────────────────┴─────────────┴─────────────┴──────────────────┴─────────────────┘

No pandas, fazemos:

    dataframe[dataframe.Channel_Name.str.ends_with("Music")].head()

In [37]:
(dataframe
    .filter(pl.col('Channel_Name').str.ends_with("Music"))
)

shape: (6, 8)
┌─────┬──────┬────────────────┬──────────────────┬─────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name   ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---            ┆ ---              ┆ ---         ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str            ┆ i64              ┆ i64         ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════╪══════════════════╪═════════════╪═════════════╪══════════════════╪═════════════════╡
│ 19  ┆ 20   ┆ Wave Music     ┆ 56300000         ┆ 39258909308 ┆ 19031       ┆ Music            ┆ 2014            │
│ 56  ┆ 57   ┆ EminemMusic    ┆ 55400000         ┆ 25713668530 ┆ 140         ┆ Music            ┆ 2007            │
│ 65  ┆ 66   ┆ Aditya Music   ┆ 27600000         ┆ 24574327626 ┆ 21020       ┆ Music            ┆ 2008            │
│ 134 ┆ 135  ┆ Eros Now Music ┆ 32100000         ┆ 17427689200 ┆ 9884        ┆ Entertainment    ┆ 2007            │
│ 149 ┆ 150  ┆ Ishtar Music   ┆ 39800000         ┆ 16502312582 ┆ 4589        ┆ Film & Animation ┆ 2005            │
│ 213 ┆ 214  ┆ Saregama Music ┆ 32500000         ┆ 13910019443 ┆ 6796        ┆ Entertainment    ┆ 2013            │
└─────┴──────┴────────────────┴──────────────────┴─────────────┴─────────────┴──────────────────┴─────────────────┘

## Selecionando e operando

In [38]:
dataframe.select(pl.col("Subscriber_Count").mean().alias("Mean_Subscriber_Count"),
                 pl.col("Channel_Name").n_unique().alias("N_Channels"),
                 pl.col("Channel_Name").str.lengths().max().alias("Max_Lenght"))

shape: (1, 3)
┌───────────────────────┬────────────┬────────────┐
│ Mean_Subscriber_Count ┆ N_Channels ┆ Max_Lenght │
│ ---                   ┆ ---        ┆ ---        │
│ f64                   ┆ u32        ┆ u32        │
╞═══════════════════════╪════════════╪════════════╡
│ 3.1592e7              ┆ 296        ┆ 51         │
└───────────────────────┴────────────┴────────────┘

In [39]:
dataframe.head()

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show  ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

In [40]:
dataframe.select(pl.col(pl.Utf8).str.lengths().max().suffix("_max_lenght"),
                 pl.col(pl.Int64).mean().prefix("Mean_"))

shape: (1, 8)
┌───────────────┬───────────────┬────────────┬────────────┬───────────────┬──────────────┬──────────────┬──────────────┐
│ Channel_Name_ ┆ Genre_max_len ┆ Mean_      ┆ Mean_Rank  ┆ Mean_Subscrib ┆ Mean_Video_V ┆ Mean_Video_C ┆ Mean_Channel │
│ max_lenght    ┆ ght           ┆ ---        ┆ ---        ┆ er_Count      ┆ iews         ┆ ount         ┆ _Started     │
│ ---           ┆ ---           ┆ f64        ┆ f64        ┆ ---           ┆ ---          ┆ ---          ┆ ---          │
│ u32           ┆ u32           ┆            ┆            ┆ f64           ┆ f64          ┆ f64          ┆ f64          │
╞═══════════════╪═══════════════╪════════════╪════════════╪═══════════════╪══════════════╪══════════════╪══════════════╡
│ 51            ┆ 16            ┆ 149.760135 ┆ 150.760135 ┆ 3.1592e7      ┆ 2.1996e10    ┆ 19174.331081 ┆ 2011.368243  │
└───────────────┴───────────────┴────────────┴────────────┴───────────────┴──────────────┴──────────────┴──────────────┘

Selecionando todas as colunas (ou parte delas)

In [41]:
dataframe.select(pl.all()).head()

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show  ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

In [42]:
dataframe.select(pl.col("*")).head()

shape: (5, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show  ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

In [43]:
dataframe.select(pl.all().exclude("Genre")).head()

shape: (5, 7)
┌─────┬──────┬────────────────────────────┬──────────────────┬──────────────┬─────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name               ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                        ┆ ---              ┆ ---          ┆ ---         ┆ ---             │
│ i64 ┆ i64  ┆ str                        ┆ i64              ┆ i64          ┆ i64         ┆ i64             │
╞═════╪══════╪════════════════════════════╪══════════════════╪══════════════╪═════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series                   ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon - Nursery Rhymes ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ 2006            │
│ 2   ┆ 3    ┆ SET India                  ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB                   ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ 2007            │
│ 4   ┆ 5    ┆ ✿ Kids Diana Show          ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ 2015            │
└─────┴──────┴────────────────────────────┴──────────────────┴──────────────┴─────────────┴─────────────────┘

In [45]:
dataframe.head()

shape: (296, 8)
┌─────┬──────┬────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Rank ┆ Channel_Name       ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---  ┆ ---                ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ i64  ┆ str                ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪══════╪════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ 1    ┆ T-Series           ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ 2    ┆ Cocomelon -        ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆      ┆ Nursery Rhymes     ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ 3    ┆ SET India          ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ 4    ┆ Sony SAB           ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ …   ┆ …    ┆ …                  ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 296 ┆ 297  ┆ DisneyJuniorUK     ┆ 11300000         ┆ 11586962179  ┆ 2789        ┆ Entertainment    ┆ 2010            │
│ 297 ┆ 298  ┆ JTBC Entertainment ┆ 7580000          ┆ 11512332695  ┆ 76838       ┆ Entertainment    ┆ 2012            │
│ 298 ┆ 299  ┆ Mnet TV            ┆ 9040000          ┆ 11442069884  ┆ 21617       ┆ Entertainment    ┆ 2013            │
│ 299 ┆ 300  ┆ GMA News           ┆ 12900000         ┆ 11387663843  ┆ 345736      ┆ News & Politics  ┆ 2007            │
└─────┴──────┴────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

# Ajustando Colunas

## Renomeando Colunas
Similar ao pandas

In [46]:
(dataframe
    .rename(mapping = {'Rank': 'Rank_Channels'}))

shape: (296, 8)
┌─────┬───────────────┬────────────────┬────────────────┬──────────────┬─────────────┬────────────────┬────────────────┐
│     ┆ Rank_Channels ┆ Channel_Name   ┆ Subscriber_Cou ┆ Video_Views  ┆ Video_Count ┆ Genre          ┆ Channel_Starte │
│ --- ┆ ---           ┆ ---            ┆ nt             ┆ ---          ┆ ---         ┆ ---            ┆ d              │
│ i64 ┆ i64           ┆ str            ┆ ---            ┆ i64          ┆ i64         ┆ str            ┆ ---            │
│     ┆               ┆                ┆ i64            ┆              ┆             ┆                ┆ i64            │
╞═════╪═══════════════╪════════════════╪════════════════╪══════════════╪═════════════╪════════════════╪════════════════╡
│ 0   ┆ 1             ┆ T-Series       ┆ 237000000      ┆ 216495600668 ┆ 18831       ┆ Music          ┆ 2006           │
│ 1   ┆ 2             ┆ Cocomelon -    ┆ 154000000      ┆ 152638999634 ┆ 861         ┆ Education      ┆ 2006           │
│     ┆               ┆ Nursery Rhymes ┆                ┆              ┆             ┆                ┆                │
│ 2   ┆ 3             ┆ SET India      ┆ 152000000      ┆ 140138068504 ┆ 105649      ┆ Film &         ┆ 2006           │
│     ┆               ┆                ┆                ┆              ┆             ┆ Animation      ┆                │
│ 3   ┆ 4             ┆ Sony SAB       ┆ 77500000       ┆ 92952274861  ┆ 65028       ┆ Film &         ┆ 2007           │
│     ┆               ┆                ┆                ┆              ┆             ┆ Animation      ┆                │
│ …   ┆ …             ┆ …              ┆ …              ┆ …            ┆ …           ┆ …              ┆ …              │
│ 296 ┆ 297           ┆ DisneyJuniorUK ┆ 11300000       ┆ 11586962179  ┆ 2789        ┆ Entertainment  ┆ 2010           │
│ 297 ┆ 298           ┆ JTBC           ┆ 7580000        ┆ 11512332695  ┆ 76838       ┆ Entertainment  ┆ 2012           │
│     ┆               ┆ Entertainment  ┆                ┆              ┆             ┆                ┆                │
│ 298 ┆ 299           ┆ Mnet TV        ┆ 9040000        ┆ 11442069884  ┆ 21617       ┆ Entertainment  ┆ 2013           │
│ 299 ┆ 300           ┆ GMA News       ┆ 12900000       ┆ 11387663843  ┆ 345736      ┆ News &         ┆ 2007           │
│     ┆               ┆                ┆                ┆              ┆             ┆ Politics       ┆                │
└─────┴───────────────┴────────────────┴────────────────┴──────────────┴─────────────┴────────────────┴────────────────┘

## Removendo uma coluna

In [48]:
dataframe.drop_in_place("Rank")

shape: (296,)
Series: 'Rank' [i64]
[
	1
	2
	3
	4
	5
	6
	7
	8
	9
	10
	11
	12
	…
	288
	289
	290
	291
	292
	293
	294
	295
	296
	297
	298
	299
	300
]

In [49]:
dataframe

shape: (296, 7)
┌─────┬─────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Channel_Name        ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---                 ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ str                 ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪═════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ T-Series            ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ Cocomelon - Nursery ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆ Rhymes              ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ SET India           ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ Sony SAB            ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ …   ┆ …                   ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 296 ┆ DisneyJuniorUK      ┆ 11300000         ┆ 11586962179  ┆ 2789        ┆ Entertainment    ┆ 2010            │
│ 297 ┆ JTBC Entertainment  ┆ 7580000          ┆ 11512332695  ┆ 76838       ┆ Entertainment    ┆ 2012            │
│ 298 ┆ Mnet TV             ┆ 9040000          ┆ 11442069884  ┆ 21617       ┆ Entertainment    ┆ 2013            │
│ 299 ┆ GMA News            ┆ 12900000         ┆ 11387663843  ┆ 345736      ┆ News & Politics  ┆ 2007            │
└─────┴─────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

# Limpeza de Dados

## Valores Nulos
No pandas fazemos:

    df.isnull().values.any()

In [50]:
dataframe.null_count()

shape: (1, 7)
┌─────┬──────────────┬──────────────────┬─────────────┬─────────────┬───────┬─────────────────┐
│     ┆ Channel_Name ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre ┆ Channel_Started │
│ --- ┆ ---          ┆ ---              ┆ ---         ┆ ---         ┆ ---   ┆ ---             │
│ u32 ┆ u32          ┆ u32              ┆ u32         ┆ u32         ┆ u32   ┆ u32             │
╞═════╪══════════════╪══════════════════╪═════════════╪═════════════╪═══════╪═════════════════╡
│ 0   ┆ 0            ┆ 0                ┆ 0           ┆ 0           ┆ 0     ┆ 0               │
└─────┴──────────────┴──────────────────┴─────────────┴─────────────┴───────┴─────────────────┘

In [51]:
(dataframe
    .filter(pl.col('Channel_Name').is_null())
    .head(3)
)

shape: (0, 7)
┌─────┬──────────────┬──────────────────┬─────────────┬─────────────┬───────┬─────────────────┐
│     ┆ Channel_Name ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre ┆ Channel_Started │
│ --- ┆ ---          ┆ ---              ┆ ---         ┆ ---         ┆ ---   ┆ ---             │
│ i64 ┆ str          ┆ i64              ┆ i64         ┆ i64         ┆ str   ┆ i64             │
╞═════╪══════════════╪══════════════════╪═════════════╪═════════════╪═══════╪═════════════════╡
└─────┴──────────────┴──────────────────┴─────────────┴─────────────┴───────┴─────────────────┘

In [52]:
(dataframe
    .filter(~ pl.col('Channel_Name').is_null())
    .head(3)
)

shape: (3, 7)
┌─────┬─────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Channel_Name        ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---                 ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ str                 ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪═════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ T-Series            ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ Cocomelon - Nursery ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆ Rhymes              ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ SET India           ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
└─────┴─────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

No pandas, fazemos:
    
    dataframe["Channel_Name"].fillna("Sem nome", inplace = False)

In [53]:
(dataframe
     .with_columns(pl.col('Channel_Name').fill_null(pl.lit("Sem nome")))
)

shape: (296, 7)
┌─────┬─────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Channel_Name        ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---                 ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ str                 ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪═════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ T-Series            ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ Cocomelon - Nursery ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆ Rhymes              ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ SET India           ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ Sony SAB            ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ …   ┆ …                   ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 296 ┆ DisneyJuniorUK      ┆ 11300000         ┆ 11586962179  ┆ 2789        ┆ Entertainment    ┆ 2010            │
│ 297 ┆ JTBC Entertainment  ┆ 7580000          ┆ 11512332695  ┆ 76838       ┆ Entertainment    ┆ 2012            │
│ 298 ┆ Mnet TV             ┆ 9040000          ┆ 11442069884  ┆ 21617       ┆ Entertainment    ┆ 2013            │
│ 299 ┆ GMA News            ┆ 12900000         ┆ 11387663843  ┆ 345736      ┆ News & Politics  ┆ 2007            │
└─────┴─────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

Similar ao pandas

In [54]:
dataframe.drop_nulls()

shape: (296, 7)
┌─────┬─────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Channel_Name        ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---                 ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ str                 ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪═════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ T-Series            ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ Cocomelon - Nursery ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆ Rhymes              ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ SET India           ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 3   ┆ Sony SAB            ┆ 77500000         ┆ 92952274861  ┆ 65028       ┆ Film & Animation ┆ 2007            │
│ …   ┆ …                   ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 296 ┆ DisneyJuniorUK      ┆ 11300000         ┆ 11586962179  ┆ 2789        ┆ Entertainment    ┆ 2010            │
│ 297 ┆ JTBC Entertainment  ┆ 7580000          ┆ 11512332695  ┆ 76838       ┆ Entertainment    ┆ 2012            │
│ 298 ┆ Mnet TV             ┆ 9040000          ┆ 11442069884  ┆ 21617       ┆ Entertainment    ┆ 2013            │
│ 299 ┆ GMA News            ┆ 12900000         ┆ 11387663843  ┆ 345736      ┆ News & Politics  ┆ 2007            │
└─────┴─────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

## Duplicados
Funciona similar ao pandas

In [55]:
dataframe.is_duplicated()

shape: (296,)
Series: '' [bool]
[
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	…
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
]

In [58]:
(dataframe
    .unique(subset = ['Genre'], keep = 'first'))

shape: (11, 7)
┌─────┬─────────────────────┬──────────────────┬──────────────┬─────────────┬──────────────────┬─────────────────┐
│     ┆ Channel_Name        ┆ Subscriber_Count ┆ Video_Views  ┆ Video_Count ┆ Genre            ┆ Channel_Started │
│ --- ┆ ---                 ┆ ---              ┆ ---          ┆ ---         ┆ ---              ┆ ---             │
│ i64 ┆ str                 ┆ i64              ┆ i64          ┆ i64         ┆ str              ┆ i64             │
╞═════╪═════════════════════╪══════════════════╪══════════════╪═════════════╪══════════════════╪═════════════════╡
│ 0   ┆ T-Series            ┆ 237000000        ┆ 216495600668 ┆ 18831       ┆ Music            ┆ 2006            │
│ 1   ┆ Cocomelon - Nursery ┆ 154000000        ┆ 152638999634 ┆ 861         ┆ Education        ┆ 2006            │
│     ┆ Rhymes              ┆                  ┆              ┆             ┆                  ┆                 │
│ 2   ┆ SET India           ┆ 152000000        ┆ 140138068504 ┆ 105649      ┆ Film & Animation ┆ 2006            │
│ 4   ┆ ✿ Kids Diana Show   ┆ 108000000        ┆ 88452629066  ┆ 1070        ┆ People & Blogs   ┆ 2015            │
│ …   ┆ …                   ┆ …                ┆ …            ┆ …           ┆ …                ┆ …               │
│ 37  ┆ PewDiePie           ┆ 111000000        ┆ 28920114696  ┆ 4700        ┆ Gaming           ┆ 2010            │
│ 58  ┆ 5-Minute Crafts     ┆ 78900000         ┆ 25251693106  ┆ 6022        ┆ Howto & Style    ┆ 2016            │
│ 72  ┆ Aaj Tak             ┆ 55700000         ┆ 23158451096  ┆ 242010      ┆ News & Politics  ┆ 2009            │
│ 148 ┆ That Little Puff    ┆ 18900000         ┆ 16582763026  ┆ 672         ┆ Pets & Animals   ┆ 2020            │
└─────┴─────────────────────┴──────────────────┴──────────────┴─────────────┴──────────────────┴─────────────────┘

# Operações

## Operações entre colunas para gerar uma nova coluna

In [59]:
(dataframe
    .with_columns((pl.col('Video_Views') / pl.col('Video_Count')).alias('Views_per_video'))
    .head(3)
)

shape: (3, 8)
┌─────┬─────────────────┬─────────────────┬──────────────┬─────────────┬───────────┬─────────────────┬─────────────────┐
│     ┆ Channel_Name    ┆ Subscriber_Coun ┆ Video_Views  ┆ Video_Count ┆ Genre     ┆ Channel_Started ┆ Views_per_video │
│ --- ┆ ---             ┆ t               ┆ ---          ┆ ---         ┆ ---       ┆ ---             ┆ ---             │
│ i64 ┆ str             ┆ ---             ┆ i64          ┆ i64         ┆ str       ┆ i64             ┆ f64             │
│     ┆                 ┆ i64             ┆              ┆             ┆           ┆                 ┆                 │
╞═════╪═════════════════╪═════════════════╪══════════════╪═════════════╪═══════════╪═════════════════╪═════════════════╡
│ 0   ┆ T-Series        ┆ 237000000       ┆ 216495600668 ┆ 18831       ┆ Music     ┆ 2006            ┆ 1.1497e7        │
│ 1   ┆ Cocomelon -     ┆ 154000000       ┆ 152638999634 ┆ 861         ┆ Education ┆ 2006            ┆ 1.7728e8        │
│     ┆ Nursery Rhymes  ┆                 ┆              ┆             ┆           ┆                 ┆                 │
│ 2   ┆ SET India       ┆ 152000000       ┆ 140138068504 ┆ 105649      ┆ Film &    ┆ 2006            ┆ 1.3264e6        │
│     ┆                 ┆                 ┆              ┆             ┆ Animation ┆                 ┆                 │
└─────┴─────────────────┴─────────────────┴──────────────┴─────────────┴───────────┴─────────────────┴─────────────────┘

In [60]:
dataframe.select((pl.col('Video_Views') / pl.col('Video_Count')).alias('Views_per_video'))

shape: (296, 1)
┌─────────────────┐
│ Views_per_video │
│ ---             │
│ f64             │
╞═════════════════╡
│ 1.1497e7        │
│ 1.7728e8        │
│ 1.3264e6        │
│ 1.4294e6        │
│ …               │
│ 4.1545e6        │
│ 149826.032627   │
│ 529308.871906   │
│ 32937.454714    │
└─────────────────┘

In [61]:
(dataframe
    .with_columns(Views_per_video = pl.col('Video_Views') * pl.col('Video_Count'),
                 Subscribers_per_video = pl.col('Subscriber_Count') * pl.col('Video_Count'))
    .head(3))

shape: (3, 9)
┌─────┬────────────────┬────────────────┬──────────────┬───┬───────────┬───────────────┬───────────────┬───────────────┐
│     ┆ Channel_Name   ┆ Subscriber_Cou ┆ Video_Views  ┆ … ┆ Genre     ┆ Channel_Start ┆ Views_per_vid ┆ Subscribers_p │
│ --- ┆ ---            ┆ nt             ┆ ---          ┆   ┆ ---       ┆ ed            ┆ eo            ┆ er_video      │
│ i64 ┆ str            ┆ ---            ┆ i64          ┆   ┆ str       ┆ ---           ┆ ---           ┆ ---           │
│     ┆                ┆ i64            ┆              ┆   ┆           ┆ i64           ┆ i64           ┆ i64           │
╞═════╪════════════════╪════════════════╪══════════════╪═══╪═══════════╪═══════════════╪═══════════════╪═══════════════╡
│ 0   ┆ T-Series       ┆ 237000000      ┆ 216495600668 ┆ … ┆ Music     ┆ 2006          ┆ 4076828656179 ┆ 4462947000000 │
│     ┆                ┆                ┆              ┆   ┆           ┆               ┆ 108           ┆               │
│ 1   ┆ Cocomelon -    ┆ 154000000      ┆ 152638999634 ┆ … ┆ Education ┆ 2006          ┆ 1314221786848 ┆ 132594000000  │
│     ┆ Nursery Rhymes ┆                ┆              ┆   ┆           ┆               ┆ 74            ┆               │
│ 2   ┆ SET India      ┆ 152000000      ┆ 140138068504 ┆ … ┆ Film &    ┆ 2006          ┆ 1480544679937 ┆ 1605864800000 │
│     ┆                ┆                ┆              ┆   ┆ Animation ┆               ┆ 9096          ┆ 0             │
└─────┴────────────────┴────────────────┴──────────────┴───┴───────────┴───────────────┴───────────────┴───────────────┘

In [62]:
(dataframe
     .select(pl.col('Channel_Name', 'Video_Count', 'Channel_Started', 'Subscriber_Count'))
     .with_columns(
         new_constant_column = pl.lit(1),
         new_column_sum = pl.col('Video_Count').sum(),
         new_column_sum_with_constant = pl.col('Channel_Started') + 10000,
         new_column_case_when = pl.when(pl.col('Subscriber_Count') > 10000000).then(pl.lit("Canal Giga")).otherwise(pl.lit("Canal Ok"))
     )
)

shape: (296, 8)
┌──────────────┬─────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ Channel_Name ┆ Video_Count ┆ Channel_Star ┆ Subscriber_C ┆ new_constant ┆ new_column_s ┆ new_column_s ┆ new_column_c │
│ ---          ┆ ---         ┆ ted          ┆ ount         ┆ _column      ┆ um           ┆ um_with_cons ┆ ase_when     │
│ str          ┆ i64         ┆ ---          ┆ ---          ┆ ---          ┆ ---          ┆ tant         ┆ ---          │
│              ┆             ┆ i64          ┆ i64          ┆ i32          ┆ i64          ┆ ---          ┆ str          │
│              ┆             ┆              ┆              ┆              ┆              ┆ i64          ┆              │
╞══════════════╪═════════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ T-Series     ┆ 18831       ┆ 2006         ┆ 237000000    ┆ 1            ┆ 5675602      ┆ 12006        ┆ Canal Giga   │
│ Cocomelon -  ┆ 861         ┆ 2006         ┆ 154000000    ┆ 1            ┆ 5675602      ┆ 12006        ┆ Canal Giga   │
│ Nursery      ┆             ┆              ┆              ┆              ┆              ┆              ┆              │
│ Rhymes       ┆             ┆              ┆              ┆              ┆              ┆              ┆              │
│ SET India    ┆ 105649      ┆ 2006         ┆ 152000000    ┆ 1            ┆ 5675602      ┆ 12006        ┆ Canal Giga   │
│ Sony SAB     ┆ 65028       ┆ 2007         ┆ 77500000     ┆ 1            ┆ 5675602      ┆ 12007        ┆ Canal Giga   │
│ …            ┆ …           ┆ …            ┆ …            ┆ …            ┆ …            ┆ …            ┆ …            │
│ DisneyJunior ┆ 2789        ┆ 2010         ┆ 11300000     ┆ 1            ┆ 5675602      ┆ 12010        ┆ Canal Giga   │
│ UK           ┆             ┆              ┆              ┆              ┆              ┆              ┆              │
│ JTBC Enterta ┆ 76838       ┆ 2012         ┆ 7580000      ┆ 1            ┆ 5675602      ┆ 12012        ┆ Canal Ok     │
│ inment       ┆             ┆              ┆              ┆              ┆              ┆              ┆              │
│ Mnet TV      ┆ 21617       ┆ 2013         ┆ 9040000      ┆ 1            ┆ 5675602      ┆ 12013        ┆ Canal Ok     │
│ GMA News     ┆ 345736      ┆ 2007         ┆ 12900000     ┆ 1            ┆ 5675602      ┆ 12007        ┆ Canal Giga   │
└──────────────┴─────────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┘

## Value Counts

In [63]:
dataframe["Genre"].value_counts()

shape: (11, 2)
┌─────────────────┬────────┐
│ Genre           ┆ counts │
│ ---             ┆ ---    │
│ str             ┆ u32    │
╞═════════════════╪════════╡
│ Gaming          ┆ 18     │
│ News & Politics ┆ 11     │
│ Music           ┆ 113    │
│ Sports          ┆ 4      │
│ …               ┆ …      │
│ Pets & Animals  ┆ 1      │
│ Comedy          ┆ 11     │
│ Howto & Style   ┆ 1      │
│ Education       ┆ 14     │
└─────────────────┴────────┘

In [64]:
dataframe["Genre"].value_counts(sort=True)

shape: (11, 2)
┌──────────────────┬────────┐
│ Genre            ┆ counts │
│ ---              ┆ ---    │
│ str              ┆ u32    │
╞══════════════════╪════════╡
│ Music            ┆ 113    │
│ Entertainment    ┆ 72     │
│ People & Blogs   ┆ 27     │
│ Film & Animation ┆ 24     │
│ …                ┆ …      │
│ News & Politics  ┆ 11     │
│ Sports           ┆ 4      │
│ Howto & Style    ┆ 1      │
│ Pets & Animals   ┆ 1      │
└──────────────────┴────────┘

# Group By
Levemente parecido no pandas, com a diferença de que no Pandas essa operação costuma retornar um dataframe com MultiIndex que costuma ser um pouco trabalhoso de lidar.

In [65]:
dataframe.groupby('Channel_Started').agg(
    pl.col('Video_Count').count().alias('n'),
    pl.col('Video_Count').mean().alias('mean_video_count'),
    pl.col('Video_Count').median().alias('median_video_count'),
    pl.col('Video_Count').max().alias('max_video_count'),
    pl.col('Video_Count').min().alias('min_video_count'),
    pl.col('Video_Count').sum().cast(pl.Int64).alias('sum_video_count'),
    pl.col('Video_Count').quantile(0.1).alias('q10_video_count'),
    pl.col('Video_Count').quantile(0.9).alias('q90_video_count'),
    pl.col('Channel_Name').first().alias('first_name'),
    pl.col('Channel_Name').last().alias('last_name'),
    pl.col('Channel_Name').n_unique().alias('unique_names')
)

shape: (17, 12)
┌───────────────┬─────┬───────────────┬───────────────┬───┬───────────────┬──────────────┬──────────────┬──────────────┐
│ Channel_Start ┆ n   ┆ mean_video_co ┆ median_video_ ┆ … ┆ q90_video_cou ┆ first_name   ┆ last_name    ┆ unique_names │
│ ed            ┆ --- ┆ unt           ┆ count         ┆   ┆ nt            ┆ ---          ┆ ---          ┆ ---          │
│ ---           ┆ u32 ┆ ---           ┆ ---           ┆   ┆ ---           ┆ str          ┆ str          ┆ u32          │
│ i64           ┆     ┆ f64           ┆ f64           ┆   ┆ f64           ┆              ┆              ┆              │
╞═══════════════╪═════╪═══════════════╪═══════════════╪═══╪═══════════════╪══════════════╪══════════════╪══════════════╡
│ 2010          ┆ 16  ┆ 25512.625     ┆ 1555.5        ┆ … ┆ 120122.0      ┆ Shemaroo     ┆ DisneyJunior ┆ 16           │
│               ┆     ┆               ┆               ┆   ┆               ┆ Filmi Gaane  ┆ UK           ┆              │
│ 2007          ┆ 21  ┆ 39324.238095  ┆ 7985.0        ┆ … ┆ 66901.0       ┆ Sony SAB     ┆ GMA News     ┆ 21           │
│ 2006          ┆ 32  ┆ 31093.65625   ┆ 3940.5        ┆ … ┆ 105649.0      ┆ T-Series     ┆ Pitbull      ┆ 32           │
│ 2012          ┆ 31  ┆ 18282.580645  ┆ 3038.0        ┆ … ┆ 44772.0       ┆ Canal        ┆ JTBC Enterta ┆ 31           │
│               ┆     ┆               ┆               ┆   ┆               ┆ KondZilla    ┆ inment       ┆              │
│ …             ┆ …   ┆ …             ┆ …             ┆ … ┆ …             ┆ …            ┆ …            ┆ …            │
│ 2009          ┆ 30  ┆ 13622.666667  ┆ 233.0         ┆ … ┆ 42560.0       ┆ Sony Music   ┆ michaeljacks ┆ 30           │
│               ┆     ┆               ┆               ┆   ┆               ┆ India        ┆ onVEVO       ┆              │
│ 2017          ┆ 4   ┆ 744.5         ┆ 636.0         ┆ … ┆ 1497.0        ┆ shfa2 - شفا  ┆ Jkk Entertai ┆ 4            │
│               ┆     ┆               ┆               ┆   ┆               ┆              ┆ nment        ┆              │
│ 2005          ┆ 10  ┆ 33678.3       ┆ 2448.5        ┆ … ┆ 158144.0      ┆ Zee TV       ┆ NBA          ┆ 10           │
│ 2016          ┆ 18  ┆ 10314.5       ┆ 970.0         ┆ … ┆ 48263.0       ┆ Like Nastya  ┆ Kaji Family  ┆ 18           │
└───────────────┴─────┴───────────────┴───────────────┴───┴───────────────┴──────────────┴──────────────┴──────────────┘

É possível combinar filtros dentro da agregação durante o Group By, algo que não é possível no Pandas.

Queremos agrupar pelo ano do inicio do canal, separando a média pelos Gêneros.

In [66]:
(dataframe
    .groupby('Channel_Started', maintain_order = True)
    .agg(
        pl.col('Video_Count').filter(pl.col('Genre').is_in(["Music", "Entertainment"])).mean().alias("Video_Count_Fun"),
        pl.col('Video_Count').filter(pl.col('Genre').is_in(["Education"])).mean().alias("Video_Count_Edu")
        )
)

shape: (17, 3)
┌─────────────────┬─────────────────┬─────────────────┐
│ Channel_Started ┆ Video_Count_Fun ┆ Video_Count_Edu │
│ ---             ┆ ---             ┆ ---             │
│ i64             ┆ f64             ┆ f64             │
╞═════════════════╪═════════════════╪═════════════════╡
│ 2006            ┆ 12253.333333    ┆ 764.0           │
│ 2007            ┆ 11223.375       ┆ null            │
│ 2015            ┆ 10606.1         ┆ 1232.0          │
│ 2016            ┆ 12413.25        ┆ 1297.0          │
│ …               ┆ …               ┆ …               │
│ 2019            ┆ 2299.0          ┆ null            │
│ 2017            ┆ 636.0           ┆ null            │
│ 2021            ┆ 4913.0          ┆ null            │
│ 2020            ┆ 2378.0          ┆ null            │
└─────────────────┴─────────────────┴─────────────────┘

In [67]:
(dataframe
    .filter(pl.col('Genre').is_in(["Music", "Entertainment"]))
    .groupby('Channel_Started', maintain_order = True)
    .agg(pl.col('Video_Count').mean().alias("Video_Count_Fun"))
)

shape: (17, 2)
┌─────────────────┬─────────────────┐
│ Channel_Started ┆ Video_Count_Fun │
│ ---             ┆ ---             │
│ i64             ┆ f64             │
╞═════════════════╪═════════════════╡
│ 2006            ┆ 12253.333333    │
│ 2018            ┆ 18993.8         │
│ 2014            ┆ 31893.882353    │
│ 2011            ┆ 14905.4         │
│ …               ┆ …               │
│ 2019            ┆ 2299.0          │
│ 2017            ┆ 636.0           │
│ 2021            ┆ 4913.0          │
│ 2020            ┆ 2378.0          │
└─────────────────┴─────────────────┘

# Ordenando
Funciona similar ao pandas

In [69]:
(dataframe
    .sort(by = 'Video_Count', descending = True)
    .head(3))

shape: (3, 7)
┌─────┬──────────────┬──────────────────┬─────────────┬─────────────┬─────────────────┬─────────────────┐
│     ┆ Channel_Name ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre           ┆ Channel_Started │
│ --- ┆ ---          ┆ ---              ┆ ---         ┆ ---         ┆ ---             ┆ ---             │
│ i64 ┆ str          ┆ i64              ┆ i64         ┆ i64         ┆ str             ┆ i64             │
╞═════╪══════════════╪══════════════════╪═════════════╪═════════════╪═════════════════╪═════════════════╡
│ 299 ┆ GMA News     ┆ 12900000         ┆ 11387663843 ┆ 345736      ┆ News & Politics ┆ 2007            │
│ 288 ┆ ABP NEWS     ┆ 35500000         ┆ 11840564703 ┆ 262326      ┆ People & Blogs  ┆ 2012            │
│ 181 ┆ IndiaTV      ┆ 34200000         ┆ 15056762678 ┆ 257886      ┆ News & Politics ┆ 2006            │
└─────┴──────────────┴──────────────────┴─────────────┴─────────────┴─────────────────┴─────────────────┘

In [70]:
(dataframe
    .sort(by = ['Video_Count', 'Video_Views'], descending = [True, False])
    .head(3))

shape: (3, 7)
┌─────┬──────────────┬──────────────────┬─────────────┬─────────────┬─────────────────┬─────────────────┐
│     ┆ Channel_Name ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count ┆ Genre           ┆ Channel_Started │
│ --- ┆ ---          ┆ ---              ┆ ---         ┆ ---         ┆ ---             ┆ ---             │
│ i64 ┆ str          ┆ i64              ┆ i64         ┆ i64         ┆ str             ┆ i64             │
╞═════╪══════════════╪══════════════════╪═════════════╪═════════════╪═════════════════╪═════════════════╡
│ 299 ┆ GMA News     ┆ 12900000         ┆ 11387663843 ┆ 345736      ┆ News & Politics ┆ 2007            │
│ 288 ┆ ABP NEWS     ┆ 35500000         ┆ 11840564703 ┆ 262326      ┆ People & Blogs  ┆ 2012            │
│ 181 ┆ IndiaTV      ┆ 34200000         ┆ 15056762678 ┆ 257886      ┆ News & Politics ┆ 2006            │
└─────┴──────────────┴──────────────────┴─────────────┴─────────────┴─────────────────┴─────────────────┘

# Lazy

In [71]:
dataframe_with_lazy_logic = pl.read_csv("top-300-youtube-channels.csv").lazy()
dataframe_with_lazy_logic.groupby('Channel_Started').agg(
    pl.col('Subscriber_Count').mean(),
    pl.col('Video_Views').mean(),
    pl.col('Video_Count').mean()
).sort('Subscriber_Count')

In [72]:
dataframe_with_lazy_logic = pl.read_csv("top-300-youtube-channels.csv").lazy()
dataframe_with_lazy_logic.groupby('Channel_Started').agg(
    pl.col('Subscriber_Count').mean(),
    pl.col('Video_Views').mean(),
    pl.col('Video_Count').mean()
).sort('Subscriber_Count').collect()

shape: (17, 4)
┌─────────────────┬──────────────────┬─────────────┬──────────────┐
│ Channel_Started ┆ Subscriber_Count ┆ Video_Views ┆ Video_Count  │
│ ---             ┆ ---              ┆ ---         ┆ ---          │
│ i64             ┆ f64              ┆ f64         ┆ f64          │
╞═════════════════╪══════════════════╪═════════════╪══════════════╡
│ 2021            ┆ 1.53375e7        ┆ 1.5779e10   ┆ 1929.5       │
│ 2019            ┆ 1.83e7           ┆ 2.6199e10   ┆ 2299.0       │
│ 2020            ┆ 1.835e7          ┆ 1.5160e10   ┆ 1380.0       │
│ 2009            ┆ 2.3944e7         ┆ 1.7301e10   ┆ 13622.666667 │
│ …               ┆ …                ┆ …           ┆ …            │
│ 2007            ┆ 3.6443e7         ┆ 2.5127e10   ┆ 39324.238095 │
│ 2016            ┆ 3.7136e7         ┆ 2.5261e10   ┆ 10314.5      │
│ 2017            ┆ 3.835e7          ┆ 1.8847e10   ┆ 744.5        │
│ 2006            ┆ 4.4890625e7      ┆ 3.5210e10   ┆ 31093.65625  │
└─────────────────┴──────────────────┴─────────────┴──────────────┘

# Convertendo Polars para Pandas

In [73]:
dataframe.to_pandas()

,,Channel_Name,Subscriber_Count,Video_Views,Video_Count,Genre,Channel_Started
0,0,T-Series,237000000,216495600668,18831,Music,2006
1,1,Cocomelon - Nursery Rhymes,154000000,152638999634,861,Education,2006
2,2,SET India,152000000,140138068504,105649,Film & Animation,2006
3,3,Sony SAB,77500000,92952274861,65028,Film & Animation,2007
4,4,✿ Kids Diana Show,108000000,88452629066,1070,People & Blogs,2015
...,...,...,...,...,...,...,...
291,295,Jake Fellman,15000000,11618626248,440,Entertainment,2012
292,296,DisneyJuniorUK,11300000,11586962179,2789,Entertainment,2010
293,297,JTBC Entertainment,7580000,11512332695,76838,Entertainment,2012
294,298,Mnet TV,9040000,11442069884,21617,Entertainment,2013
295,299,GMA News,12900000,11387663843,345736,News & Politics,2007

# Lógicas de JOIN

In [ ]:
df_customers = pl.DataFrame(
    {
        "customer_id": [1, 2, 3],
        "name": ["Alice", "Bob", "Charlie"],
    }
)

df_orders = pl.DataFrame(
    {
        "order_id": ["a", "b", "c"],
        "customer_id": [1, 2, 2],
        "amount": [100, 200, 300],
    }
)

In [ ]:
df_left_join = df_customers.join(df_orders, on="customer_id", how="left")
print(df_left_join)

In [ ]:
df_outer_join = df_customers.join(df_orders, on="customer_id", how="outer")
print(df_outer_join)

In [ ]:
df_colors = pl.DataFrame(
    {
        "color": ["red", "blue", "green"],
    }
)

df_sizes = pl.DataFrame(
    {
        "size": ["S", "M", "L"],
    }
)

In [ ]:
df_cross_join = df_colors.join(df_sizes, how="cross")
print(df_cross_join)